[Unit]
Description=MJPEG Streaming Server
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/Pi-Mjpeg-Streaming-Server/server.py

[Install]
WantedBy=multi-user.target
